<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Another user would like to be signed up for the newsletter!</h2>
    <p>
      The email address of the user is: <%= @user1.email %>
    </p>
  </body>
</html>