/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
html, body {
  min-height: 100%;
  width: 100%;
  background: url("/assets/background.jpg") repeat;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

body {
  position: absolute; }

.clear {
  clear: both; }

#header {
  height: 139px;
  width: 100%;
  background: url("/assets/header_bg.png") repeat-x; }
  #header #head_container {
    width: 1200px;
    position: relative;
    left: 50%;
    margin-left: -600px; }
  #header #logo {
    display: inline-block;
    margin-top: 15px;
    margin-left: 30px; }
  #header #grad {
    background: url("/assets/header_grad.png") no-repeat;
    width: 600px;
    height: 138px;
    position: absolute;
    top: 0;
    left: 0; }
  #header #links {
    display: inline-block;
    position: relative;
    padding-bottom: 8px;
    top: -65px;
    left: 0px;
    font-family: 'MarcellusSC-Regular';
    border-bottom: 2px solid #E0B277; }
    #header #links .link {
      display: inline-block;
      text-decoration: none;
      font-size: 1.1em;
      color: #E0B277;
      text-shadow: 1px 1px 3px #000;
      margin-right: 33px; }
    #header #links .link:hover {
      color: #F1DDC4; }
  #header #information {
    font-family: 'Open Sans' sans-serif;
    font-size: .95em;
    position: relative;
    top: -62px;
    left: 250px;
    width: 60em;
    padding-top: 7px;
    color: #C99C63;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1px 1px 1px #444; }
    #header #information .info {
      display: inline-block; }

#footer {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  width: 100%;
  background: #444;
  position: relative;
  bottom: 0;
  margin-top: 240px;
  height: 180px;
  color: #fafafa;
  text-align: center;
  box-shadow: 0px -3px 15px #333; }
  #footer h1 {
    font-size: 1em;
    color: #fafafa; }
  #footer .wrapper {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: left; }
    #footer .wrapper .social {
      width: 250px;
      display: table-cell;
      text-align: left; }
      #footer .wrapper .social .fb {
        background: url("/assets/footer_fb.jpg") no-repeat;
        height: 46px;
        width: 46px;
        margin-right: 20px;
        display: inline-block; }
      #footer .wrapper .social .ta {
        background: url("/assets/footer_trip.jpg") no-repeat;
        height: 46px;
        width: 46px;
        margin-right: 20px;
        display: inline-block; }
      #footer .wrapper .social .yp {
        background: url("/assets/footer_yelp.jpg") no-repeat;
        height: 46px;
        width: 46px;
        display: inline-block; }
      #footer .wrapper .social .icon {
        opacity: .4; }
      #footer .wrapper .social .icon:hover {
        opacity: .8; }
    #footer .wrapper .copyright {
      width: 250px;
      color: #bbb;
      display: table-cell;
      text-align: center;
      font-size: .9em; }
      #footer .wrapper .copyright img {
        opacity: .5;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out; }
      #footer .wrapper .copyright img:hover {
        opacity: 1; }
    #footer .wrapper .contact {
      text-align: right;
      width: 250px;
      display: table-cell;
      color: #ccc; }
/*
Skin Name: Nivo Slider Dark Theme
Skin URI: http://nivo.dev7studios.com
Description: A dark skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/


.theme-dark.slider-wrapper {
	background: none;
    padding: 10px;
    width: 950px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;

}
.theme-dark .nivoSlider {
	position:relative;
	background:#fff url('/assets/loading.gif') no-repeat 50% 50%;
    bottom: 15px;
    left: 5px;
    overflow: visible;
    box-shadow: 5px 5px 15px #000;
}
.theme-dark .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-dark .nivoSlider a {
	border:0;
	display:block;
}

.theme-dark .nivo-controlNav {
	text-align: left;
	padding: 0;
	position: relative;
	bottom: 50px;
	left: 425px;
	z-index: 40;
}
.theme-dark .nivo-controlNav a {
	display:inline-block;
	width:10px;
	height:10px;
	background:url(bullets.png) no-repeat 0 2px;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-dark .nivo-controlNav a.active {
	background-position:0 100%;
}

.theme-dark .nivo-directionNav a {
	display:block;
	width:65px;
	height:110px;
	background: url(arrows.png) no-repeat;
	background-size: 125px 95px;
	text-indent:-9999px;
	border:0;
	top: auto;
	bottom: 125px;
	z-index: 11;
	opacity: .6;
	-webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.theme-dark .nivo-directionNav a:hover {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 1;
}
.theme-dark a.nivo-nextNav {
	background-position: -60px 50%;
	right:10px;
}
.theme-dark a.nivo-prevNav {
    background-position: 0px 75%;
    left: auto;
	right: 145px;
}

.theme-dark .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-dark .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-dark .nivo-caption a:hover {
    color:#fff;
}

.theme-dark .nivo-controlNav.nivo-thumbs-enabled {
	width: 80%;
}
.theme-dark .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-dark .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
.dinnertitle {
  font-size: 1.25em;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold; }

.price {
  float: right;
  font-size: 1.25em;
  opacity: .8; }

.desc {
  padding-bottom: 20px;
  padding-top: 4px;
  font-family: 'Open Sans', sans-serif;
  opacity: .75; }
#error_explanation {
  margin-top: 40px;
  margin-left: 45px;
  width: 350px; }
  #error_explanation .alert {
    color: #913F3F;
    background: #FFD6D6;
    border: 1px solid #DE8787;
    border-radius: 4px;
    text-align: center;
    padding: 6px 0 6px 0;
    opacity: .75; }
  #error_explanation ul {
    list-style-type: none; }
    #error_explanation ul li {
      padding-left: 40px;
      color: #FF6E6E; }
/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */

.nivo_box {
	margin-top: 0px;
}

.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	z-index: 25;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	margin-right:700px;
}
.nivo-nextNav {
	margin-right: 25px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url('/assets/sprite.png') -78px -93px no-repeat}
div.pp_default .pp_top .pp_right{background:url('/assets/sprite.png') -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_next:hover{background:url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url('/assets/sprite.png') 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url('/assets/sprite.png') 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:80px;height:25px;background:url('/assets/sprite.png') 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url('/assets/sprite.png') -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url('/assets/sprite.png') -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:14px;font-weight:700;line-height:14px;margin:5px 50px 5px 0;text-align:center;}
div.pp_default .pp_bottom .pp_left{background:url('/assets/sprite.png') -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_right{background:url('/assets/sprite.png') -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(../images/prettyPhoto/default/loader.gif) center center no-repeat}
div.light_rounded .pp_top .pp_left{background:url('/assets/sprite.png') -88px -53px no-repeat}
div.light_rounded .pp_top .pp_right{background:url('/assets/sprite.png') -110px -53px no-repeat}
div.light_rounded .pp_next:hover{background:url(../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.light_rounded .pp_previous:hover{background:url(../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_rounded .pp_expand{background:url('/assets/sprite.png') -31px -26px no-repeat;cursor:pointer}
div.light_rounded .pp_expand:hover{background:url('/assets/sprite.png') -31px -47px no-repeat;cursor:pointer}
div.light_rounded .pp_contract{background:url('/assets/sprite.png') 0 -26px no-repeat;cursor:pointer}
div.light_rounded .pp_contract:hover{background:url('/assets/sprite.png') 0 -47px no-repeat;cursor:pointer}
div.light_rounded .pp_close{width:75px;height:22px;background:url('/assets/sprite.png') -1px -1px no-repeat;cursor:pointer}
div.light_rounded .pp_nav .pp_play{background:url('/assets/sprite.png') -1px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_nav .pp_pause{background:url('/assets/sprite.png') -24px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_arrow_previous{background:url('/assets/sprite.png') 0 -71px no-repeat}
div.light_rounded .pp_arrow_next{background:url('/assets/sprite.png') -22px -71px no-repeat}
div.light_rounded .pp_bottom .pp_left{background:url('/assets/sprite.png') -88px -80px no-repeat}
div.light_rounded .pp_bottom .pp_right{background:url('/assets/sprite.png') -110px -80px no-repeat}
div.dark_rounded .pp_top .pp_left{background:url('/assets/sprite.png') -88px -53px no-repeat}
div.dark_rounded .pp_top .pp_right{background:url('/assets/sprite.png') -110px -53px no-repeat}
div.dark_rounded .pp_content_container .pp_left{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}
div.dark_rounded .pp_content_container .pp_right{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}
div.dark_rounded .pp_next:hover{background:url(../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_rounded .pp_previous:hover{background:url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.dark_rounded .pp_expand{background:url('/assets/sprite.png') -31px -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_expand:hover{background:url('/assets/sprite.png') -31px -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract{background:url('/assets/sprite.png') 0 -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract:hover{background:url('/assets/sprite.png') 0 -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_close{width:75px;height:22px;background:url('/assets/sprite.png') -1px -1px no-repeat;cursor:pointer}
div.dark_rounded .pp_description{margin-right:85px;color:#fff}
div.dark_rounded .pp_nav .pp_play{background:url('/assets/sprite.png') -1px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_nav .pp_pause{background:url('/assets/sprite.png') -24px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_arrow_previous{background:url('/assets/sprite.png') 0 -71px no-repeat}
div.dark_rounded .pp_arrow_next{background:url('/assets/sprite.png') -22px -71px no-repeat}
div.dark_rounded .pp_bottom .pp_left{background:url('/assets/sprite.png') -88px -80px no-repeat}
div.dark_rounded .pp_bottom .pp_right{background:url('/assets/sprite.png') -110px -80px no-repeat}
div.dark_rounded .pp_loaderIcon{background:url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}
div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}
div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}
div.dark_square .pp_loaderIcon{background:url(../images/prettyPhoto/dark_square/loader.gif) center center no-repeat}
div.dark_square .pp_expand{background:url('/assets/sprite.png') -31px -26px no-repeat;cursor:pointer}
div.dark_square .pp_expand:hover{background:url('/assets/sprite.png') -31px -47px no-repeat;cursor:pointer}
div.dark_square .pp_contract{background:url('/assets/sprite.png') 0 -26px no-repeat;cursor:pointer}
div.dark_square .pp_contract:hover{background:url('/assets/sprite.png') 0 -47px no-repeat;cursor:pointer}
div.dark_square .pp_close{width:75px;height:22px;background:url('/assets/sprite.png') -1px -1px no-repeat;cursor:pointer}
div.dark_square .pp_nav{clear:none}
div.dark_square .pp_nav .pp_play{background:url('/assets/sprite.png') -1px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_nav .pp_pause{background:url('/assets/sprite.png') -24px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_arrow_previous{background:url('/assets/sprite.png') 0 -71px no-repeat}
div.dark_square .pp_arrow_next{background:url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}
div.dark_square .pp_next:hover{background:url(../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_square .pp_previous:hover{background:url(../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_square .pp_expand{background:url(../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_square .pp_expand:hover{background:url(../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_square .pp_contract{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_square .pp_contract:hover{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_square .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_square .pp_nav .pp_play{background:url(../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_nav .pp_pause{background:url(../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_arrow_previous{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}
div.light_square .pp_arrow_next{background:url(../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}
div.light_square .pp_next:hover{background:url(../images/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}
div.light_square .pp_previous:hover{background:url(../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_top .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}
div.facebook .pp_top .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}
div.facebook .pp_top .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}
div.facebook .pp_content_container .pp_left{background:url(../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}
div.facebook .pp_content_container .pp_right{background:url(../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}
div.facebook .pp_expand{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.facebook .pp_expand:hover{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.facebook .pp_contract{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.facebook .pp_contract:hover{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.facebook .pp_close{width:22px;height:22px;background:url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.facebook .pp_description{margin:0 37px 0 0}
div.facebook .pp_loaderIcon{background:url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat}
div.facebook .pp_arrow_previous{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}
div.facebook .pp_arrow_next{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}
div.facebook .pp_nav{margin-top:0}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}
div.facebook .pp_nav .pp_play{background:url(../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_nav .pp_pause{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_next:hover{background:url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}
div.facebook .pp_previous:hover{background:url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_bottom .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}
div.facebook .pp_bottom .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}
div.facebook .pp_bottom .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}

.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}
/*body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
*/
#showcontent {
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 0;
  text-align: center; }
  #showcontent h1 {
    margin: 0; }
  #showcontent p {
    margin: 0;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif; }
    #showcontent p #notice {
      color: #fff; }
  #showcontent strong {
    padding-top: 40px; }
  #showcontent a {
    font-size: 1.1em;
    color: #8898FC; }
#container {
  width: 1083px;
  min-height: 600px;
  height: auto;
  height: 100%;
  margin: 40px auto -180px auto; }

#slider_bg {
  background: url("/assets/slider_bg.jpg") no-repeat;
  width: 1078px;
  height: 564px;
  position: relative;
  margin-top: -515px;
  margin-left: auto;
  margin-right: auto; }

#panel {
  background: url("/assets/panel_wood.jpg");
  width: 1077px;
  height: 181px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px; }
  #panel .horiz {
    background: url("/assets/panel01.png") no-repeat;
    width: 1056px;
    height: 71px;
    position: relative;
    top: -14px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5; }
  #panel .hours {
    color: #fff;
    font-size: 1.1em;
    line-height: 2em;
    text-shadow: 1px 1px #000;
    margin-top: -10px;
    margin-left: 30px; }
    #panel .hours span {
      border-bottom: 1px dotted;
      padding-bottom: 8px; }
  #panel .newsletteradd {
    float: right;
    width: 450px;
    height: 100px;
    margin-top: -100px; }
    #panel .newsletteradd .label {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2em;
      text-shadow: 1px 1px #000;
      color: #fff; }
    #panel .newsletteradd .input {
      padding: 10px;
      font-size: 1.1em;
      width: 250px;
      font-family: 'Open Sans', sans-serif;
      border-radius: 3px;
      opacity: .8; }
    #panel .newsletteradd .submit {
      margin-top: -45px;
      float: left;
      margin-left: 295px;
      padding: 10px 25px 10px 25px;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.1em;
      color: #fff;
      border: 1px solid #666;
      border-radius: 3px;
      cursor: pointer;
      background-color: #7D0F0F;
      /* Old browsers */
      -moz-transition: background-color .25s ease-in-out;
      -webkit-transition: background-color .25s ease-in-out;
      -o-transition: background-color .25s ease-in-out;
      transition: background-color .25s ease-in-out; }
    #panel .newsletteradd .submit:hover {
      background: #964D4D; }

.hrs_banner {
  background: url("/assets/panel01.png") no-repeat;
  width: 1056px;
  height: 71px;
  position: relative;
  top: -14px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5; }

.about_banner {
  background: url("/assets/about_header.png") no-repeat;
  width: 1056px;
  height: 71px;
  position: relative;
  top: -14px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5; }

.menus_banner {
  background: url("/assets/menus_header.png") no-repeat;
  width: 1056px;
  height: 71px;
  position: relative;
  top: -14px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5; }

.dinner_banner {
  background: url("/assets/dinner_header.png") no-repeat;
  width: 1056px;
  height: 71px;
  position: relative;
  top: -14px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5; }

.wine_banner {
  background: url("/assets/wine_header.png") no-repeat;
  width: 1056px;
  height: 71px;
  position: relative;
  top: -14px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5; }

.dessert_banner {
  background: url("/assets/dessert_header.png") no-repeat;
  width: 1056px;
  height: 71px;
  position: relative;
  top: -14px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5; }

.gifts_banner {
  background: url("/assets/gifts_header.png") no-repeat;
  width: 1056px;
  height: 71px;
  position: relative;
  top: -14px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5; }

.events_banner {
  background: url("/assets/events_header.png") no-repeat;
  width: 1056px;
  height: 71px;
  position: relative;
  top: -14px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5; }

.private_banner {
  background: url("/assets/private_header.png") no-repeat;
  width: 1056px;
  height: 71px;
  position: relative;
  top: -14px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5; }

.reservation_banner {
  background: url("/assets/reservation_header.png") no-repeat;
  width: 1056px;
  height: 71px;
  position: relative;
  top: -14px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5; }

.contact_banner {
  background: url("/assets/contact_header.png") no-repeat;
  width: 1056px;
  height: 71px;
  position: relative;
  top: -14px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5; }

#menu_top {
  width: 1083px;
  height: 158px;
  background: url("/assets/content_wood_top.jpg") no-repeat; }

@font-face {
  font-family: 'MarcellusSC-Regular';
  src: url("MarcellusSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.menu_links {
  font-size: 1.75em;
  font-family: 'MarcellusSC-Regular';
  width: 900px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #E0A51B; }
  .menu_links a {
    color: #E0A51B;
    text-decoration: none; }
  .menu_links .llink {
    margin-right: 135px; }
  .menu_links .mlink {
    margin-left: 135px;
    margin-right: 135px; }
  .menu_links .rlink {
    margin-left: 135px;
    margin-right: 0px; }

#content_mid {
  width: 1083px;
  color: #fafafa;
  background: url("/assets/content_wood_mid.jpg") repeat-y; }

#content_bot {
  width: 1083px;
  height: 133px;
  background: url("/assets/content_wood_bot.jpg") no-repeat; }

#dinner .container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px; }
#dinner h2 {
  margin-top: 0;
  padding-top: 25px;
  font-weight: normal;
  border-bottom: 2px solid #aaa;
  font-family: 'Parisienne', cursive;
  font-size: 3em;
  text-align: left; }

#about h1 {
  margin: 0 0 60px 0;
  padding: 0;
  text-align: center; }
#about #gallery {
  width: 900px;
  margin-left: auto;
  margin-right: auto; }
  #about #gallery .row {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; }
    #about #gallery .row .cent {
      margin-left: 40px;
      margin-right: 40px; }
    #about #gallery .row img {
      border: 2px solid #cacaca; }
#about #description {
  width: 900px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto; }
  #about #description p {
    color: #fafafa;
    margin-bottom: 0; }

#reserve h1 {
  text-align: center;
  margin: 0 0 40px 0;
  padding: 0; }
#reserve #description {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3em;
  text-align: center;
  font-size: 1em;
  width: 900px;
  margin-left: auto;
  margin-right: auto; }
  #reserve #description p {
    margin: 0; }

#events h1 {
  margin: 0 0 40px 0;
  text-align: center; }
#events #description {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3em;
  text-align: center;
  font-size: 1em;
  width: 900px;
  margin-left: auto;
  margin-right: auto; }
  #events #description p {
    margin-bottom: 0px;
    padding-bottom: 40px; }

#contact {
  font-family: "Trebuchet MS", Helvetica, sans-serif; }
  #contact .left_col {
    width: 250px;
    height: 350px;
    padding: 15px;
    float: left;
    margin-left: 65px; }
    #contact .left_col h2 {
      margin-top: 40px;
      margin-bottom: 0px; }
    #contact .left_col .input .field {
      padding: 5px 0 5px 10px;
      font-size: 1em;
      border-radius: 3px;
      width: 250px; }
    #contact .left_col .name {
      background: url("/assets/logo.png") no-repeat;
      background-size: 225px;
      height: 125px;
      margin-top: -40px;
      margin-left: 0px;
      margin-bottom: 2em; }
    #contact .left_col .address {
      color: #ddd; }
  #contact .bottom_box {
    color: #aaa;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto; }
    #contact .bottom_box a {
      color: #ccc; }
  #contact #contform {
    padding-left: 75px;
    width: 800px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto; }
    #contact #contform .item {
      vertical-align: top;
      padding-right: 25px;
      display: inline-block;
      width: 300px; }
    #contact #contform .contactinput {
      padding: 5px 0 5px 10px;
      font-size: 1em;
      border-radius: 3px;
      width: 230px; }
    #contact #contform .textitem {
      display: inline-block;
      vertical-align: top;
      padding-right: 25px; }
    #contact #contform .contacttext {
      font-family: 'Open Sans', sans-serif;
      padding: 5px 0 5px 10px;
      font-size: 1em;
      height: 100px;
      border-radius: 3px;
      width: 400px; }
  #contact .contsubmit {
    padding: 7px 25px 7px 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    color: #fff;
    margin-top: 15px;
    border: 1px solid #666;
    border-radius: 3px;
    cursor: pointer;
    background-color: #7D0F0F;
    /* Old browsers */
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out; }
  #contact .contsubmit:hover {
    background: #964D4D; }
  #contact iframe {
    width: 640px;
    margin-left: 25px;
    border: 4px solid #444; }

#giftcards h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 40px 0;
  padding: 0;
  text-align: center; }
#giftcards h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif; }
#giftcards .container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }
#giftcards .input {
  font-size: 1em;
  padding-left: 10px;
  width: 425px; }
#giftcards .inputhalf {
  font-size: 1em;
  padding-left: 10px;
  width: 195px;
  display: inline-block; }
#giftcards .inputhalfphone {
  font-size: 1em;
  padding-left: 10px;
  width: 195px;
  margin-right: 20px;
  display: inline-block; }
#giftcards .inputdropdown {
  margin-left: 40px; }
#giftcards .inputrighthalf {
  font-size: 1em;
  padding-left: 10px;
  width: 195px;
  margin-left: 20px;
  display: inline-block; }
#giftcards .inputcomment {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  width: 425px;
  height: 50px; }
#giftcards .rightlabel {
  margin-left: 200px; }
#giftcards .rightlabel2 {
  margin-left: 170px; }
#giftcards .notice {
  margin-top: 10px;
  color: #bbb;
  text-align: center; }
#giftcards .box {
  font-family: 'Open Sans', sans-serif;
  width: 450px;
  margin-left: 33px;
  display: inline-block;
  vertical-align: top; }
#giftcards .submitbtn {
  margin-left: 75px;
  width: 250px;
  margin-top: 50px;
  padding: 7px;
  font-size: 1.25em;
  cursor: pointer;
  color: #fff;
  border: 1px solid #666;
  background-color: #7D0F0F;
  /* Old browsers */
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -o-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out; }
#giftcards .submitbtn:hover {
  background-color: #964D4D;
  /* Old browsers */ }
#giftcards input, #giftcards textarea, #giftcards select, #giftcards .uneditable-input {
  border: 1px solid #bbb;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 15px; }
#giftcards input {
  height: auto !important; }

#mailinglist table {
  padding-left: 100px; }
#mailinglist a {
  color: #8898FC; }
#mailinglist h1 {
  margin: 0;
  padding: 0 0 40px 0;
  text-align: center; }
#mailinglist .newuser {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  float: right;
  margin-right: 50px; }
