	<div id="menu_top"> 
		<div class="about_banner"> </div>
	</div>

	<div id="content_mid">
		<div id="showcontent">
			<h1>Editing user</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @user %> 
		</div>
	</div>

	<div id="content_bot"> </div>


