	<div id="menu_top"> 
		<div class="about_banner"> </div>
	</div>

	<div id="content_mid">
		<div id="showcontent">
			<p id="notice"><%= notice %></p>

			<p></br></br>
			  <strong style="margin:0; padding: 0;">Email:</strong>
			  <%= @user.email %>
			</p>

			<%= link_to 'Edit', edit_user_path(@user) %>
		</div>
	</div>

	<div id="content_bot"> </div>