<% if @gift.errors.any? %>
  <div id="error_explanation">
    <div class="alert">
      The form contains <%= pluralize(@gift.errors.count, "error") %>.
    </div>
    <ul>
    <% @gift.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>