<div id="about">

	<div id="menu_top"> 
		<div class="about_banner"> </div>
	</div>

	<div id="content_mid">
		<h1> About Rooney's Restaurant </h1>
		<div id="gallery">
			<div class="row">
			<a href="/assets/about_01.jpg" rel="prettyPhoto" title="Rooney's Restaurant Facade"><img src="/assets/about_01_small.jpg" width="250px" /></a>
			<a class="cent" href="/assets/about_02.jpg" rel="prettyPhoto" title="Rooney's Dining Hall"><img src="/assets/about_02_small.jpg" width="250px" /></a>
			<a href="/assets/about_03.jpg" rel="prettyPhoto" title="Rooney's Bar & Dining Area"><img src="/assets/about_03_small.jpg" width="250px" /></a>
			</div><div class="row">
			<a href="/assets/about_09.jpg" rel="prettyPhoto" title="Rooney's Main Entrance"><img src="/assets/about_09.jpg" width="250px" /></a>
			<a class="cent" href="/assets/about_05.jpg" rel="prettyPhoto" title="Rooney's Dining Hall Entrance"><img src="/assets/about_05_small.jpg" width="250px" /></a>
			<a href="/assets/about_07.jpg" rel="prettyPhoto" title="Rooney's Restaurant"><img src="/assets/about_07.jpg" width="250px" /></a>
			</div>
		</div>

		<div id="description">
			<p>
			Rooney's Restaurant

			A “best-kept” culinary secret is yours to keep—or share. Our Old World habit of changing the menu each day according to what Chef Kirk Smith and Chef Frank campione found in the market that morning helps explain why Rooney’s continues to be among the top 5 dining experiences in Rochester. However, the food says it all. Come, get a taste, and see if you can keep us all to yourself. 

			For the last half-century, we’ve been quietly tucked away on Henrietta Street in Rochester. In fact, the first time you come down this winding, mostly residential street you might think you’ve made a wrong turn. But among the homes you’ll pass lies a secret garden of dining in Rochester. It’s the kind of place people recall fondly and return to loyally . 

			Our History
			Once a saloon located on the Erie Canal (before they moved it), this circa 1890s building has been a magnet of hospitality for city dwellers and suburbanites alike in Rochester. High ceilings, a welcoming dining room fireplace, and an impressive Victorian wooden bar give today’s diners a feeling of speak-easy comfort.
			</p>
			<!-- This is extra below! -->
			<p>
			The Swillburg neighborhood surrounding Rooney’s is located in Rochester’s South Wedge. It’s credited with having more of a village feel conveniently close to the excitement of city life. So where did it gets such a rural-sounding name? Back in the days of gaslights and dirt thoroughfares, pig farms were numbered among the city’s thriving businesses. And feed came from “swill” left out for collection by the residents. Not so swell-sounding, but Rooney’s definitely breaks with that tradition! We asked for a little more info on Rooney’s background from the Landmark Society of Western New York.
			</p>
			<p>
			Here’s what Architectural Researcher Coordinator Cynthia Howk found: "The restaurant is situated in a handsome red brick building that owner Dick Touri says was built in 1868 and has always been a tavern. He speculates that the original owner had land reaching down to the old Erie Canal and that the neighboring farmers from Swillburg, merchants and workers of the crafts plying the canal would drop by the tavern for refreshment." --City newspaper, 1982
			</p>
			<p>
			Wary of the 1868 date of our building's construction, Cynthia thought it was “somewhat early for the type of building/its location in the neighborhood.” She was kind enough to dig a little deeper and checked 1875 and 1888 City Plat Maps! The Landmark Society uses them as their primary reference source for researching. Here’s what she discovered: “As I thought, 90 Henrietta St. is shown as a VACANT LOT on the 1875 plat map. Although the property is shown owned by the Almeroff family (for whom the side street it named), it does NOT have a building shown here until the 1888 City Plat Map. “Researching the date of construction for building erected before about 1910 is not easy. There are almost no building records at City Hall from before this time (the first City Building Permits appear about 1910 or so). To look at the DEED of a property is usually a futile effort, as a deed lists the OWNERS of the land, but rarely mentions the buildings located there (much less their date of construction).”
			</p>
			<p>
			On the subject of Swillburg, Cynthia gave us more insight, too: “Certainly, Rooney's is located in the neighborhood long nick-named, "Swillburg," a name that dates back to the 19th century. The Erie Canal (now the I-490 Expressway) was located at the northern edge of this neighborhood from 1823 (when the canal opened) until 1920, when the canal was drained & subsequently, the electric streetcar line was built in the former canal bed. Swillburg was a neighborhood with many German residents (the name "Almeroff" -- the family who owned 90 Henrietta St./side street named for them -- is of German heritage).”
			</p>

		</div>
	</div>
	
	<div id="content_bot"> </div>

	<script type="text/javascript" charset="utf-8">
	  $(document).ready(function(){
	    $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false});
	  });
	</script>
</div>