<div id="events">

	<div id="menu_top">
		<div class="title_banner"> </div>
	</div>

	<div id="content_mid">
		<h1> French Week at Rooney's </h1>
		<div id="description">
			<p>
				Per popular demand we invited our French Guest Chef from Lyon France for the seventh consecutive year.  He comes bearing the extraordinary tastes and textures, the astonishing aromas of traditional Lyonnais Specialties.

				 This is truly a unique and exciting event.  Make your reservations now for April 25th through May 11th(Mon -Sun)

				For more information or to make reservations

				 please call (585) 442-0444
			</p>
		</div>

	</div>

	<div id="content_bot"> </div>
</div>