<div id="events">

	<div id="menu_top">
		<div class="events_banner"> </div>
	</div>

	<div id="content_mid">
		<h1> <%= @event.title %> </h1>
		<div id="description">
			<p>
				<%= @edesc %>
			</p>
		</div>

	</div>

	<div id="content_bot"> </div>
</div>