<div class="nivo_box">
    <div class="slider-wrapper theme-dark">
        <div id="slider" class="nivoSlider">
            <img src="/assets/toystory.jpg" data-thumb="/assets/toystory.jpg" alt="" />
            <img src="/assets/nemo.jpg" data-thumb="/assets/nemo.jpg" alt="" />
            <img src="/assets/up.jpg" data-thumb="/assets/up.jpg" alt="" />
            <img src="/assets/walle.jpg" data-thumb="/assets/walle.jpg" alt="" />
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
        </div>
    </div>
</div>

<div id="slider_bg"> </div>

<script type="text/javascript">
	$(window).load(function() {
	        $('#slider').nivoSlider({
		        effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
		        slices: 10, // For slice animations
		        animSpeed: 350, // Slide transition speed
		        pauseTime: 5000, // How long each slide will show
			});
	    });

</script>

<div id="panel">
    <div class="horiz"> </div>
    
</div>

