<div id="indexpage" style="margin-top: 120px;">
    <div class="nivo_box">
        <div class="slider-wrapper theme-dark">
            <div id="slider" class="nivoSlider">
                <img src="/assets/slider_01.jpg" data-thumb="/assets/slider_01.jpg" alt="" />
                <img src="/assets/slider_02.jpg" data-thumb="/assets/slider_02.jpg" alt="" />
                <img src="/assets/slider_03.jpg" data-thumb="/assets/slider_03.jpg" alt="" />
                <img src="/assets/slider_04.jpg" data-thumb="/assets/slider_04.jpg" alt="" />
                <img src="/assets/slider_05.jpg" data-thumb="/assets/slider_05.jpg" alt="" />
                <img src="/assets/slider_06.jpg" data-thumb="/assets/slider_06.jpg" alt="" />
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
            </div>
        </div>
    </div>

    <div id="slider_bg"> </div>

    <script type="text/javascript">
    	$(window).load(function() {
    	        $('#slider').nivoSlider({
    		        effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
    		        slices: 10, // For slice animations
    		        animSpeed: 350, // Slide transition speed
    		        pauseTime: 5000, // How long each slide will show
    			});
    	    });

    </script>

    <div id="panel">
        <div class="horiz"> </div>
        <div class="hours">
            <span>Monday - Friday: 5:30pm - 10:00pm</span></br>
            <span>Saturday: 5:00pm - 10:00pm</span></br>
            Sunday: Closed
        </div>
        <div class="fooditems">
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font: Helvetica,Arial,sans-serif;  width:500px;}
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup" style="background: transparent;">
            <form action="http://responsive.us7.list-manage.com/subscribe/post?u=c41cb6667c281474eb86d0e72&amp;id=93f1836430" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                
                <input type="email" style="float: right;" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <div class="clear"><input style="float: right;margin-right: 19px;" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
            </div>

            <!--End mc_embed_signup-->
        </div>
    </div>
</div>

