
	<div id="menu_top"> </div>

	<div class="menu_links">
		<a class="llink" href="/welcome/dinner">Dinner</a>
		<span> | </span>
		<a class="mlink" href="/welcome/wine">Wine</a>
		<span> | </span>
		<a class="rlink" href="/welcome/dessert">Dessert</a>
	</div>

	<div id="content_mid">


	</div>

	<div id="content_bot"> </div>
