
	<div id="menu_top">
		<div class="menus_banner"> </div>
	</div>

	<div class="menu_links">
		<a class="llink" href="/welcome/dinner">Dinner</a>
		<span> | </span>
		<a class="mlink" href="/welcome/wine">Wine</a>
		<span> | </span>
		<a class="rlink" href="/welcome/dessert">Dessert</a>
	</div>
	<div id="content_mid">
		<p style="text-align: center; margin: 0; padding: 0; font-size: 1.1em;padding-top: 60px;">
			Menu items and prices are subject to change.  Wine & Vintages are subject to frequent changes.<br> For more information, please give us a call at (585) 442 0444.
		</p>
	</div>

	<div id="content_bot"> </div>
