<div id="events">

	<div id="menu_top">
		<div class="private_banner"> </div>
	</div>

	<div id="content_mid">
		<h1><%= @private.title %></h1>
		<div id="description">
			<p>
				<%= @pdesc %>
			</p>
		</div>
	</div>

	<div id="content_bot"> </div>
</div>