<div id="events">

	<div id="menu_top">
		<div class="events_banner"> </div>
	</div>

	<div id="content_mid">
		<h1> Let Us Host Your Private Events</h1>
		<div id="description">
			<p>
				At Rooney's Restaurant we are more than happy to accomodate your private party.  Please contact us to discuss your needs.
			</p>
		</div>
	</div>

	<div id="content_bot"> </div>
</div>