<div id="reserve">
	<div id="menu_top">
		<div class="reservation_banner"> </div>
	</div>

	<div id="content_mid">
		<h1> FOR RESERVATIONS PLEASE CALL (585) 442-0444 </h1>
		<div id="description">
			<p>Make yourself at home. We’ve been described by fans as like a private club, where it’s easy to get comfortable. Though our cozy bar is a great place to get started if you’ve just dropped in, we recommend reservations to ensure your table is waiting.

			FOR RESERVATIONS PLEASE CALL (585) 442-0444
			</p>
		</div>
	</div>

	<div id="content_bot"> </div>
</div>