<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @message.body %>
    </p>
    <p>
    	You may respond to this email at <%= @message.email %>
    </p>
  </body>
</html>