/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
	min-height: 100%;
	width: 100%;
	background: url('/assets/background.jpg') repeat;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
	position: absolute;
}
.clear {
	clear: both;
}

#header {
	height: 139px;
	width: 100%;
	background: url('/assets/header_bg.png') repeat-x;

	#head_container {
		width: 1200px;
		position: relative;
		left: 50%;
		margin-left: -600px;
	}

	#logo {
		display: inline-block;
		width:248px;
		height: 123px;
		margin-top: 5px;
	}

	#grad {
		background: url('/assets/header_grad.png') no-repeat;
		width: 600px;
		height: 138px;
		position: absolute;
		top: 0;
		left: 0;
	}

	#links {
		display: inline-block;
		position: relative;
		width: 60em;
		padding-top: 10px;
		padding-left: 10px;
		top: -110px;
		left: 250px;
		font-family: 'MarcellusSC-Regular';


		.link {
			display: inline-block;
			height: 37px;
			text-decoration: none;
			font-size: 1.3em;
			color: #bbb;			
			text-shadow: 1px 1px 3px #000;
			margin-right: 50px;
		}	

		.link:hover {
			color: #dadada;
		}
	}

	#information {
		font-family: 'Open Sans' sans-serif;
		position: relative;
		top: -115px;
		left: 250px;
		width: 60em;
		border-top: 2px solid #bbb;
		padding-top: 7px;
		color: #999;
		letter-spacing: 1px;
		text-align: center;

		.info {
			display: inline-block;
		}
	}
}

#footer {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.25em;
	width: 100%;
	background: #444;
	position: relative;
	bottom: 0;
	margin-top: 240px;
	height: 180px;
	color: #fafafa;
	text-align: center;
	box-shadow: 0px -3px 15px #333;

	h1 {
		font-size: 1em;
		color: #fafafa;
	}

	.wrapper {
		width: 1100px;
		margin-left: auto;
		margin-right: auto;
		display: table;
		text-align: left;

		.social {
			width: 250px;
			display: table-cell;
			text-align: left;

			.fb {
				background: url('/assets/footer_fb.jpg') no-repeat;
				height: 46px;
				width: 46px;
				margin-right: 20px;
				display: inline-block;
			}

			.ta {
				background:url('/assets/footer_trip.jpg') no-repeat;
				height: 46px;
				width: 46px;
				margin-right: 20px;
				display: inline-block;
			}


			.yp {
				background:url('/assets/footer_yelp.jpg') no-repeat;
				height: 46px;
				width: 46px;
				display: inline-block;
			}	

			.icon {
				opacity: .4;
			}			

			.icon:hover {
				opacity: .8;
			}
		}

		.copyright {
			width: 250px;
			color: #bbb;
			display: table-cell;
			text-align: center;
			font-size: .9em;

			img {
				opacity: .5;
				-moz-transition:opacity .25s ease-in-out;
			    -webkit-transition:opacity .25s ease-in-out;
			    -o-transition:opacity .25s ease-in-out;
			    transition:opacity .25s ease-in-out;
			}

			img:hover {
				opacity: 1;
			}
		}

		.contact {
			text-align: right;
			width: 250px;
			display: table-cell;
			color: #ccc;		
		}
	}
}