// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
	width: 1147px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
	padding: 0;
}

#slider_bg {
	background: url('/assets/slider.png') no-repeat;
	width: 1096px;
	height: 584px;
	position: relative;
	margin-top: -525px;
	margin-left: auto;
	margin-right: auto;
}

#panel {
	background: url('/assets/panel_wood.jpg') no-repeat;
	width: 1104px;
	height: 216px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;

	.horiz {
		background: url('/assets/panel01.png') no-repeat;
		width: 1056px;
		height: 71px;
		position: relative;
		top: 5px;
		margin-left: auto;
		margin-right: auto;
		z-index: 5;
	}
}

#menu_top {
	width: 1147px;
	height: 171px;
	background: url('/assets/content_menu_top.png') no-repeat;
}

.menu_links {
	font-size: 1.75em;
	width: 900px;
	height: 25px;
	margin-top: -25px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #E0A51B;

	a {
		color: #E0A51B;
		text-decoration: none;
	}
	.llink {
		margin-right: 135px;
	}

	.mlink {
		margin-left: 135px;
		margin-right: 135px;
	}

	.rlink {
		margin-left: 135px;
		margin-right: 0px;
	}
}

#content_mid {
	width: 1147px;
	height: 596px;
	color: #fafafa;
	background: url('/assets/content_wood_mid.png') no-repeat;
}

#content_bot {
	width: 1147px;
	height: 174px;
	background: url('/assets/content_wood_bot.png') no-repeat;
}

#dinner {

	.container {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 60px;
	}

	h2 {
		margin-top: 0;
	}
}