// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
	width: 1083px;
	min-height: 600px;
	height: auto;
	height: 100%;
	margin: 40px auto -180px auto;
}

#slider_bg {
	background: url('/assets/slider.png') no-repeat;
	width: 1096px;
	height: 584px;
	position: relative;
	margin-top: -525px;
	margin-left: auto;
	margin-right: auto;
}

#panel {
	background: url('/assets/panel_wood.jpg');
	width: 1077px;
	height: 181px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;

	.horiz {
		background: url('/assets/panel01.png') no-repeat;
		width: 1056px;
		height: 71px;
		position: relative;
		top: -14px;
		margin-left: auto;
		margin-right: auto;
		z-index: 5;
	}

	.hours {
		color: #fff;
		font-size: 1.1em;
		line-height: 2em;
		text-shadow: 1px 1px #000;
		margin-top: -10px;
		margin-left: 30px;

		span {
			border-bottom: 1px dotted;
			padding-bottom: 8px;
		}
	}

	.newsletteradd {
		float: right;
		width: 450px;
		height: 100px;
		margin-top: -100px;

		.label {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.2em;
			text-shadow: 1px 1px #000;
			color: #fff;
		}

		.input {
			padding: 10px;
			font-size: 1.1em;
			width: 250px;
			font-family: 'Open Sans', sans-serif;
			border-radius: 3px;
			opacity: .8;
		}

		.submit {
			margin-top: -45px;
			float: left;
			margin-left: 295px;
			padding: 10px 25px 10px 25px;
			font-family: 'Open Sans', sans-serif;
			font-size: 1.1em;
			color: #fff;
			border: 1px solid #666;
			border-radius: 3px;
			cursor: pointer;
			background-color: #7D0F0F; /* Old browsers */
		    -moz-transition:background-color .25s ease-in-out;
		    -webkit-transition:background-color .25s ease-in-out;
		    -o-transition:background-color .25s ease-in-out;
		    transition:background-color .25s ease-in-out;
		}

		.submit:hover {
			background: #964D4D;
		}
	}
}

.hrs_banner {
	background: url('/assets/panel01.png') no-repeat;
	width: 1056px;
	height: 71px;
	position: relative;
	top: -14px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;	
}

.about_banner {
	background: url('/assets/about_header.png') no-repeat;
	width: 1056px;
	height: 71px;
	position: relative;
	top: -14px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;	
}

.menus_banner {
	background: url('/assets/menus_header.png') no-repeat;
	width: 1056px;
	height: 71px;
	position: relative;
	top: -14px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;	
}

.dinner_banner {
	background: url('/assets/dinner_header.png') no-repeat;
	width: 1056px;
	height: 71px;
	position: relative;
	top: -14px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;	
}

.wine_banner {
	background: url('/assets/wine_header.png') no-repeat;
	width: 1056px;
	height: 71px;
	position: relative;
	top: -14px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;	
}

.dessert_banner {
	background: url('/assets/dessert_header.png') no-repeat;
	width: 1056px;
	height: 71px;
	position: relative;
	top: -14px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;	
}

.gifts_banner {
	background: url('/assets/gifts_header.png') no-repeat;
	width: 1056px;
	height: 71px;
	position: relative;
	top: -14px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;	
}

.events_banner {
	background: url('/assets/events_header.png') no-repeat;
	width: 1056px;
	height: 71px;
	position: relative;
	top: -14px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;	
}

.reservation_banner {
	background: url('/assets/reservation_header.png') no-repeat;
	width: 1056px;
	height: 71px;
	position: relative;
	top: -14px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;	
}

.contact_banner {
	background: url('/assets/contact_header.png') no-repeat;
	width: 1056px;
	height: 71px;
	position: relative;
	top: -14px;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;	
}

#menu_top {
	width: 1083px;
	height: 158px;
	background: url('/assets/content_wood_top.jpg') no-repeat;
}

@font-face {
  font-family: 'MarcellusSC-Regular';
  src: url('MarcellusSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu_links {
	font-size: 1.75em;
	font-family: 'MarcellusSC-Regular';
	width: 900px;
	height: 25px;
	margin-top: -25px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #E0A51B;

	a {
		color: #E0A51B;
		text-decoration: none;
	}
	.llink {
		margin-right: 135px;
	}

	.mlink {
		margin-left: 135px;
		margin-right: 135px;
	}

	.rlink {
		margin-left: 135px;
		margin-right: 0px;
	}
}

#content_mid {
	width: 1083px;
	color: #fafafa;
	background: url('/assets/content_wood_mid.jpg') repeat-y;
}

#content_bot {
	width: 1083px;
	height: 133px;
	background: url('/assets/content_wood_bot.jpg') no-repeat;
}

#dinner {

	.container {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 60px;
	}

	h2 {
		margin-top: 0;
		padding-top: 25px;
		font-weight: normal;
		border-bottom: 2px solid #aaa;
		font-family: 'Marcellus SC', serif;
		font-size: 1.9em;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}
}

#about {

	h1 {
		margin: 0 0 60px 0;
		padding: 0;
		text-align: center;
	}

	#gallery {
		width: 900px;
		margin-left: auto;
		margin-right: auto;

		.row {
			width: 850px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 40px;

			.cent {
				margin-left: 40px;
				margin-right: 40px;
			}

			img {
				border: 2px solid #cacaca;
			}
		}
	}

	#description {
		width: 900px;
		padding-top: 40px;
		margin-left: auto;
		margin-right: auto;

		p {
			color: #fafafa;
			margin-bottom: 0;
		}
	}
}

#reserve {

	h1 {
		text-align: center;
		margin:0 0 40px 0;
		padding: 0;
	}

	#description {
		font-family: 'Open Sans', sans-serif;
		line-height: 1.3em;
		text-align: center;
		font-size: 1em;
		width: 900px;
		margin-left: auto;
		margin-right: auto;

		p {
			margin:0;
		}
	}
}

#events {

	h1 {
		text-align: center;
		margin:0 0 40px 0;
		padding: 0;
	}

	#description {
		font-family: 'Open Sans', sans-serif;
		line-height: 1.3em;
		text-align: center;
		font-size: 1em;		
		width: 900px;
		margin-left: auto;
		margin-right: auto;

		p {
			margin: 0;
		}
	}
}

#contact {
	font-family: "Trebuchet MS", Helvetica, sans-serif;

	.left_col {
		width: 250px;
		height: 350px;
		padding: 15px;
		float: left;
		margin-left: 65px;

		h2 {
			margin-top: 40px;
			margin-bottom: 0px;
		}

		.input {

			.field {
				width: 250px;
			}
			.submit {
				margin-top: 5px;
			}
		}
		.name {
			background: url('/assets/logo.png') no-repeat;
			background-size: 225px;
			height: 125px;
			margin-top: -40px;
			margin-left: 0px;
			margin-bottom: 2em;
		}

		.address {
			color: #ddd;
		}
	}

	.bottom_box {
		color: #aaa;
		text-align: center;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;

		a {
			color: #ccc;
		}
	}

	#contform {
		width: 800px;
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;

		.item {
			vertical-align: top;
			padding-right: 25px;
			display: inline-block;
			width: 300px;
		}

		.contactinput {
			padding: 5px 0 5px 10px;
			font-size: 1em;
			border-radius: 3px;
			width: 230px;
		}

		.textitem {
			display: inline-block;
			vertical-align: top;
			padding-right: 25px;
		}

		.contacttext {
			font-family: 'Open Sans', sans-serif;
			padding: 5px 0 5px 10px;
			font-size: 1em;
			height: 100px;
			border-radius: 3px;
			width: 400px;
		}

		.contsubmit {
			padding: 7px 25px 7px 25px;
			font-family: 'Open Sans', sans-serif;
			font-size: 1.1em;
			color: #fff;
			margin-top: 25px;
			border: 1px solid #666;
			border-radius: 3px;
			cursor: pointer;
			background-color: #7D0F0F; /* Old browsers */
		    -moz-transition:background-color .25s ease-in-out;
		    -webkit-transition:background-color .25s ease-in-out;
		    -o-transition:background-color .25s ease-in-out;
		    transition:background-color .25s ease-in-out;
		}

		.contsubmit:hover {
			background: #964D4D;
		}
	}

	iframe {
		width: 640px;
		margin-left: 25px;
		border: 4px solid #444;
	}
}

#giftcards {

	h1 {
		font-family: 'Open Sans', sans-serif;
		margin:0 0 40px 0;
		padding: 0;
		text-align: center;
	}

	h3 {
		text-align: center;
		font-family: 'Open Sans', sans-serif;
	}

	.container {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	.input {
		font-size: 1em;
		padding-left: 10px;
		width: 425px;
	}

	.inputhalf {
		font-size: 1em;
		padding-left: 10px;
		width: 195px;
		display: inline-block;
	}
	
	.inputrighthalf {
		font-size: 1em;
		padding-left: 10px;
		width: 195px;
		margin-left: 20px;
		display: inline-block;
	}

	.inputcomment {
		font-size: 1em;
		font-family: 'Open Sans', sans-serif;
		padding-left: 10px;
		width: 425px;
		height: 50px;
	}

	.rightlabel {
		margin-left: 200px;
	}

	.box {
		font-family: 'Open Sans', sans-serif;
		width: 450px;
		margin-left: 33px;
		display: inline-block;
		vertical-align: top;
	}

	.submitbtn {
		margin-left: 75px;
		width: 250px;
		margin-top: 50px;
		padding: 7px;
		font-size: 1.25em;
		cursor: pointer;
		color: #fff;
		border: 1px solid #666;
		background-color: #7D0F0F; /* Old browsers */
	    -moz-transition:background-color .25s ease-in-out;
	    -webkit-transition:background-color .25s ease-in-out;
	    -o-transition:background-color .25s ease-in-out;
	    transition:background-color .25s ease-in-out;
	}

	.submitbtn:hover {
		background-color: #964D4D; /* Old browsers */
	}

	input, textarea, select, .uneditable-input {
	  border: 1px solid #bbb;
	  border-radius: 3px;
	  padding-top: 7px;
	  padding-bottom: 7px;
	  margin-bottom: 15px;
	}

	input {
	  height: auto !important;
	}	
}

#mailinglist {
	
	table {
		padding-left: 100px;
	}

	a {
		color: #8898FC;
	}

	h1 {
		margin: 0;
		padding: 0 0 40px 0;
		text-align: center;
	}

	.newuser {
		color: #fff;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.3em;
		font-weight: bold;
		float: right;
		margin-right: 50px;
	}
}
