// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#navbar {
	height: 200px;
	padding-top: 35px;

	.link {
		display: inline-block;
		color: #cacaca;
	}
	
	._r {
		float: right;
	}

	.logo {
		color: #000;
		font-size: 3.5em;
		width: 250px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: -40px;
	}
}

#page {
	background: url("/assets/Rooney_splash_page.jpg");
	width: 1280px;
	height: 1024px;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;

	.link {
		width: 75px;
		height: 25px;
		position: relative;
		top: 700px;
		margin-left: auto;
		margin-right: auto;

		a {
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-weight: 700;
			font-size: 1.75em;
			text-decoration: none;
			color: #4D0909;
		}
	}
}

#page_main {
	width: 940px;
	margin-left: auto;
	margin-right: auto;	
}