<div id="dinner">
	<div class="dessert_banner"> </div>

	<div id="content_mid">
		<div class="container">
		<%= link_to 'New Giftcard', new_giftcard_path %>
		</div>
	</div>
	<div id="content_bot"> </div>
</div>

