<div id="giftcards">
	<div id="menu_top"> 
		<div class="gifts_banner"> </div>
	</div>

	<div id="content_mid">
		<div class="container">
			<h1>Purchase a New Giftcard</h1>

			<%= render 'form' %>
		</div>
	</div>
	<div id="content_bot"> </div>
</div>