<div id="dinner">
	<div id="menu_top"> 
		<div class="gifts_banner"> </div>
	</div>

	<div id="content_mid">
		<div class="container" style="font-size: 1.5em; font-family: 'Open Sans', sans-serif; font-weight: bold; color: #fff;text-align:center;padding-bottom: 80px;">
			Your gift card is being processed.<br><br>A confirmation email will be sent when the purchase is complete.  If you have any questions or concerns about this order, please call us at 585-442-0444.	
		</div>
	</div>
	<div id="content_bot"> </div>
</div>

