<div id="dinner">
	<div id="menu_top"> 
		<div class="dessert_banner"> </div>
	</div>

	<div id="content_mid">
		<div class="container" style="font-size: 3em; font-weight: bold; color: #fff;">
			You successfully made a gift card! Yay.	
		</div>
	</div>
	<div id="content_bot"> </div>
</div>

