<!DOCTYPE html>
<html>
<head>
  <title>Rooneys</title>
  <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">
		<!-- <div id="grad"> </div> -->
		<div id="logo"><a href="/welcome/index"><img src="/assets/logo.png" /></a></div>
		<div id="links">
			<a class="link" href="/welcome/about">Our Restaurant</a>
			<a class="link" href="/welcome/menus">Menus</a>
			<a class="link" href="/welcome/reserve">Reservations</a>
			<a class="link" href="/welcome/events">Special Events</a>
			<a class="link" href="/welcome/contact">Contact</a>
		</div>
	</div>

	<div id="container">

		<%= yield %>
	
	</div>

	<div id="footer">
		<div class="wrapper">
			<div class="social">  
			<h1> Follow us: </h1>
				<a href="http://www.facebook.com" target="blank"><div class="fb icon"> </div></a>
				<a href="#"><div class="gp icon"> </div></a>
				<a href="#"><div class="yp icon"> </div></a>
			</div>
			<div class="copyright">  Rooney's Restaurant © 2013.  All Rights Reserved. </br><span style="opacity: .6;">Web Solution by Responsive Technology</span></div>
			<div class="contact">  
				<h1> Find us: </h1>
				90 Henrietta Street</br>
				Rochester, NY 14620</br>
				Phone: (585) 442 0444</br>
				Fax: (585) 461 4817
			</div>
		</div>
	</div>
</body>
</html>
