<!DOCTYPE html>
<html>
<head>
  <title>Rooneys</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">
		<div id="grad"> </div>
		<div id="logo"><a href="/welcome/index"><img src="/assets/logo.png" /></a></div>
		<div id="links">
			<a class="link" href="#"><img src="/assets/link_about.png" /></a>
			<a class="link" href="#"><img src="/assets/link_menus.png" /></a>
			<a class="link" href="#"><img src="/assets/link_reserve.png" /></a>
			<a class="link" href="#"><img src="/assets/link_special.png" /></a>
			<a class="link" href="#"><img src="/assets/link_contact.png" /></a>
		</div>
	</div>

	<div id="container">

		<%= yield %>
	
	</div>

	<div id="footer">
		<div class="wrapper">
			<div class="something">  Follow Us!  </div>
			<div class="address">  Rooney's Restaurant  </div>
			<div class="contact">  Park Avenue  </div>
		</div>
	</div>

</body>
</html>
